<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Material UI</span>
  <span class="example-spacer"></span>
  <button routerlink="" mat-button>Home</button>
  <button routerlink="input" mat-button>Input</button>
  <button routerlink="autocomplete" mat-button>Autocomplete</button>
  <button mat-raised-button color="accent">Sign Up</button>
  <button (click)="badgevisibility()" mat-icon-button>
    <mat-icon
      [matBadgeHidden]="badgevisible"
      matBadge="15"
      matBadgeSize="small"
      matBadgeColor="warn"
      >home</mat-icon
    >
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start"> 
    <!-- mode="push",mode="over" -->
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="card" mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="slider" mat-button>
          <mat-icon>explore</mat-icon> Slider
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="table" mat-button>
          <mat-icon>table</mat-icon> Table
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>settings</mat-icon> Settings</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>help</mat-icon> Help</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
