<mat-toolbar color="primary" class="mat-elevation-z8">
    <button routerlink=""  mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Material UI</span>
    <span class="example-spacer"></span>
    <button routerlink=""  mat-button>Home</button>
    <button routerlink="input" mat-button>Input</button>
    <button routerlink="autocomplete"  mat-button>Autocomplete</button>
    <button mat-raised-button color="accent">Sign Up</button>
    <button (click)="badgevisibility()" mat-icon-button>
        <mat-icon [matBadgeHidden]="badgevisible" matBadge="15" matBadgeSize="small" matBadgeColor="warn">home</mat-icon>
    </button>
    
</mat-toolbar>

<router-outlet></router-outlet>
